#map{
    width:  100vw;
    height: 100vh;
}

.mapboxgl-canvas{
    outline: none;
}

nav ul li {
    float: none !important;
}

.geocoder{
    position: absolute;
    z-index: 2;
    width: 50%;
    left: 50%;
    margin-left: -25%;
    top: 10px;
}

#randomWord, #menu{
    position: absolute;
    z-index: 1;
    transition-duration: 0.2s;
    width: 24.5%;
    top: 52px;
    height: 32px;
    border: none;
    border-radius: 4px;
    outline: none;
    background-color: #fff;
    font-family: "Open Sans";
    font-size: 15px;
    color: rgba(64, 64, 64, .75);
    font-weight: bold;
    box-shadow: 1px 1px 5px grey;
}

#buttonContainer{
    visibility: hidden;
    display: flex;
    flex-wrap: wrap;
    z-index: 1;
    flex-direction: column;
    justify-content: center;
    top: 100px;
    margin-left: 50.5%;
    position: relative;
    transition-duration: .2s;  
    transform: translate(0px,-200px);
    opacity: 0;
}

.menuItem{
    width: 49.5%;
    top: 120px;
    z-index: 1;
    height: 32px;
    border: none;
    border-radius: 4px;
    outline: none;
    transition-duration: 0.2s;
    background-color: #fff;
    color: rgba(64, 64, 64, .75);
    font-family: "Open Sans";
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 6px;
    box-shadow: 1px 1px 5px grey;
}

#randomWord{
    left: 50%;
    margin-left: -25%;
    background-color: #4264fb;
    color: #fff;
}

#menu{
    left: 50.5%;
}

#menu:hover, .menuItem:hover{
    background-color: #4264fb;
    color: #fff;
}

#randomWord:hover{
    background-color: #fff;
    color: rgba(64, 64, 64, .75);
}

#randomWord:active {
    background-color: #4264fb;
    color: #fff;
}

.menuItem:focus {
    color: #fff;
    border: 2px solid white;
    background-color: #4264fb;
}

#menu:active, .menuItem:active{
    background-color: #fff;
    color: rgba(64, 64, 64, .75);
}

.mapboxgl-ctrl-geocoder{
    min-width: 100%;
}

body{
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}

main{
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}

nav{
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    height: 0;
}

footer{
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    position: absolute;
    bottom: 1%;
    left: 45%;
    font-size: small;
    display: flex;
    align-content: flex-end;
    justify-content: center;
}

footer p{
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    color: #fff;
    font-family: "Open Sans";
    font-weight: bold;
    text-shadow: 2px 2px 1px grey;
}

#modal1 p, #modal1 h4{
    padding: 0;
    margin: 0 ;
    color: rgba(64, 64, 64, .75);
    font-family: "Open Sans";
}

#sumbitInput:focus{
    border-bottom: 1px solid #4264fb !important;
}

#sumbitInput{
    margin: 0;
}
